body {
  width: 100%;
  margin: 0 auto;
}

#content {
  overflow: auto;
  height: 100%;
}

#nav, #feature, #footer {
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
}

.column1, .column2, .column3 {
  background-color: #efefef;
  width: 31.77%;
  float: left;
  margin: 10px;
}

li {
  display: inline;
  padding: 5px;
}
