input[type="submit"] {
  padding: 15px 20px;
  border: none;
  background-color: #a22;
  color: #fff;
}

input[type="text"] {
  height: 30px;
  border-radius: 0;
  font-size: 1.2em;
  margin: 10px 10px;
}


input {
  padding: 6px 12px;
}

input.submit:hover {
  background-color: #654;
}

input.submit:active {
  background-color: chocolate;
}

input.text {
  color: #ccc;
}

input.text:focus {
  color: #665544;
}
