td {
  border: 1px solid #08d;
  padding: 25px;
}

table.one {
  empty-cells: show;
}

table.two {
  empty-cells: hide;
}

div.box {
  display: flex;
}

div.box-one {
  margin: 10px 15px;
}

div.box-two {
  margin: 10px 15px;
}
