.page {
  margin: 20px;
  width: 100vh;
  height: 100vh;
}

.one {
  width: 150px;
  height: 150px;
  margin: -100px 0 0 50px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

.two {
  width: 150px;
  height: 150px;
  margin: -100px 0 0 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.first {
  background-color: #e38;
  width: 150px;
  height: 150px;
}

.second {
  background-color: #e38;
  width: 150px;
  height: 150px;
}
