body {
  background-color: rgb(200, 200, 200);
}

h1 {
  background-color: darkblue;
  padding: 10px;
}

h2 {
  background-color: #ee3e80;
  padding: 10px;
}

p {
  background-color: white;
  padding: 10px;
}

.page {
  width: 500px;
  padding: 20px;
}
