
/*Small devices (landscape phones)*/
@media (min-width: 576px) { /* acima de min-height: 576px a pagina fica vermelha */
  /* body {
    background-color: red;
  } */
}

/*Medium devices (tablets, 768px e superior)*/
@media (min-width: 768px) {
  /* body {
    background-color: blue;
  } */
}

/*Large devices (desktops, 992px e superior)*/
@media (min-width: 992px) {
  /* body {
    background-color: yellow;
  } */
}

/*Extra large devices (large desktops, 1200px e superior)*/
@media (min-width: 1200px) {
  /* body {
    background-color: gray;
  } */
}



/**************************/
/* Extra small devices (portraint phones) */
@media (max-width: 575.98px) { /*  abaixo de min-height: 576px a pagina fica indigo */
  /* body {
    background-color: indigo;
  } */
}

/* Small devices (Landscape Phones) */
@media (max-width: 767px) {}

/* Medium devices (Tablets) */
@media (max-width: 991px) {}

/* Large devices (Desktops) */
@media (max-width: 1199px) {}



/******************************************/
/* -> Intervalos */

/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
  body {
    background-color: indigo;
  }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-color: red;
  }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-color: blue;
  }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background-color: yellow;
  }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
  body {
    background-color: gray;
  }
}